<section class="about-image-section">
    <img src="assets/about-us.jpg" alt="About Us" class="about-image"> <!-- Use an actual image -->
</section>

<section class="about-intro">
    <h2>About Us</h2>
    <p>
        The Spa Villa Spa is expert in providing you with relaxation and rejuvenation by the plethora of our spa services and therapeutic massages. It is a luxury thai spa in Kalyani Nagar considered as the best spa in Pune, we are rooted in different types of massages that are based on ancient Thai culture. Our destressing massages done with stress-relieving oils work like magic for those who come here stressed, depressed, and anxious and leave our place with a calm mind and healed body.

        Nowadays, people completely forget to take care of their wellness. But The Spa Villa is here to remind you that the self-care and peace of your mind matter and spa and salon therapies at The Spa Villa will surely make you peaceful to face this chaotic world.
        
        Harnessing the positive energy of nature, The Spa Villa is designed perfectly to enhance your inner beauty with the unique rejuvenating experience in the Best Spa in Pune.
    </p>
</section>



<section class="about-details">
    <h3>Why Choose Us?</h3>
    <p>
        At The Spa Villa, we offer world-class massages and uniquely rejuvenating spa therapies that enhance your inner beauty. Join us on an ultimate journey of therapeutic massages designed to elevate your spirits and amplify your energy levels. 
    </p>
</section>

<section class="contact-section">
    <h2>Book A Therapy Session</h2>
    <p>Visit us at The Spa Villa in Kalyani Nagar, Pune.</p>
    <button routerLink="/contact" class="contact-button">Contact Us</button>
</section>

<app-footer></app-footer>