
<section class="about-image-section">
    <img src="assets/about-us.jpg" alt="About Us" class="about-image"> <!-- Use an actual image -->
</section>
<section class="contact-us">

    <div class="contact-info">
      
        <div class="location-row">
            
            <div class="location-details">
                <h3>Contact Information</h3>
                <p><strong>Address:</strong> The Spa Villa, Kalyani Nagar, Pune</p>
                <p><strong>Mobile:</strong> +91 12345 67890</p>
                <p><strong>Working Hours:</strong> Mon-Sun: 10 AM - 8 PM</p>
            </div>
            <div class="map-container">
              
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31720.03602987488!2d73.92516103642115!3d18.532306721146555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad5576c0f59729%3A0x97c7e462b70bc7f7!2sKalyani%20Nagar%2C%20Pune%2C%20Maharashtra%20411106!5e0!3m2!1sen!2sin!4v1636572345130!5m2!1sen!2sin" 
                    width="100%" 
                    height="500" 
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy"></iframe>
            </div>
        </div>
    </div>
    

    <div class="query-form">
        <h3>Send Us Your Query</h3>
        <div class="contact-form">
            <h2>Inquiry Form</h2>
            <iframe src="https://form.jotform.com/242754275520456" frameborder="0" style="width: 100%; height: 500px;"></iframe>
        </div>
        <!-- <form (ngSubmit)="sendQuery()" #contactForm="ngForm">
            <label for="name">Name:</label>
            <input type="text" id="name" required [(ngModel)]="formData.name" name="name">
        
            <label for="mobile">Mobile:</label>
            <input type="text" id="mobile" required [(ngModel)]="formData.mobile" name="mobile">
        
            <label for="email">Email:</label>
            <input type="email" id="email" required [(ngModel)]="formData.email" name="email">
        
            <label for="subject">Subject:</label>
            <input type="text" id="subject" required [(ngModel)]="formData.subject" name="subject">
        
            <label for="message">Message:</label>
            <textarea id="message" required [(ngModel)]="formData.message" name="message"></textarea>
        
            <button type="submit">Send Inquiry</button>
        </form> -->
    </div>
</section>
<app-footer></app-footer>